kokoro==0.9.4
misaki[en]==0.9.4
transformers>=4.51,<5
soundfile>=0.13,<1
imageio-ffmpeg>=0.6,<1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
